.blogs__heading {
	width: 100%;
	text-align: center;
	margin-top: 50px;
}

.blogs__heading h1 {
	color: var(--main-color);
}

.blog__container {
	width: 85%;
	margin: 50px auto 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.card {
	width: 400px;
	border-radius: 5px;
	margin: 15px 15px 15px 15px;
	background-color: white;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
	display: flex;
	flex-direction: column;
	text-align: center;
}

.card img {
	display: block;
	margin: 0 auto 20px auto;
	width: 100%;
	height: 300px;
	border-radius: 5px 5px 0 0;
}

.card h2 {
	font-family: Roboto, 'Open Sans', sans-serif;
	font-weight: bold;
	text-align: center;
	color: var(--main-color);
}

.card p {
	font-family: 'Rubik', sans-serif;
	font-size: 1.1rem;
	bottom: 120px;
	width: 100%;
	padding: 20px;
}

.loading {
	width: 100%;
	height: 100vh;
	margin: auto;
	position: relative;
}

.alert {
	display: none;
}

.nav a.active {
	border-bottom: 3px solid var(--main-color);
}

.viewblog__btn {
	text-decoration: none;
	background-color: var(--main-color);
	font-family: var(--ff-subhead);
	color: white;
	border: none;
	text-align: center;
	padding: 15px;
	border-radius: 5px;
	font-size: 1.2rem;
	width: 50%;
	margin: 0 auto 30px auto;
}

#more {
	display: none;
	width: 100%;
	margin: auto auto;
}

#view__btn {
	width: 300px;
	margin: 50px auto;
	background-color: rgba(255, 255, 255, 0);
	color: var(--main-color);
	font-family: var(--ff-subhead);
	border: 4px solid var(--main-color);
	font-size: 22px;
}

.blog__two--container {
	margin: 0 auto 100px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#show__more {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media (max-width: 1200px) {
	.blog__container {
		width: 90%;
	}
	.blog__two--container {
		width: 90%;
	}
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
	.blog__two--container {
		width: 90%;
	}
}
