.contact__bg--container {
	height: 650px;
	width: 70%;
	margin: 50px auto 0 auto;
	background-image: url(/img/contact1.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	padding-top: 90px;
}

.contact__form {
	background-color: #ffff;
	border-radius: 7px;
	width: 35%;
	margin: auto;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
}

.contact__form h1 {
	text-align: center;
	color: var(--main-color);
	font-size: 1.5rem;
	padding: 40px 0 20px 0;
	font-size: 2rem;
	font-family: var(--ff-header);
	font-weight: normal;
}

.form_div {
	background-color: #ffff;
	padding: 20px;
	width: 700px;
	display: flex;
	justify-content: space-evenly;
	border-radius: 5px;
	margin-top: 70px;
	margin-bottom: 100px;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
}

input[type='text'] {
	width: 60%;
	height: 30px;
	outline: none;
	border-radius: 5px;
	margin: 0 0 0 75px;
}

.textbox {
	width: 60%;
	height: 120px;
	outline: none;
	border-radius: 5px;
	margin: 0 0 0 75px;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
}

label {
	margin: 10px 0 5px 75px;
	display: block;
	font-family: var(--ff-text);
}

p {
	padding: 0px;
	margin: 0px;
}

button {
	background-color: var(--btn-color);
	width: 50%;
	height: 60px;
	padding: 10px;
	border: none;
	color: white;
	border-radius: 5px;
	font-size: 1.2rem;
	font-weight: bold;
	margin: 30px 0 40px 95px;
	font-family: var(--ff-subhead);
	font-weight: normal;
}

.error {
	color: red;
	display: none;
}

.hide {
	display: none;
}

.show {
	display: block;
}
