.logo {
	width: 100%;
	text-align: center;
}

h1 a {
	color: var(--main-color);
	font-family: var(--ff-logo);
	font-size: 4.5rem;
	letter-spacing: 5px;
	padding: 20px;
	text-decoration: none;
}

nav {
	width: 80%;
	height: 100px;
	margin: 0 auto 0 auto;
	border-bottom: 4px solid var(--main-color);
	display: flex;
	align-items: center;
	justify-content: center;
}

li a {
	text-decoration: none;
	color: var(--main-color);
	font-family: var(--ff-subhead);
	font-size: 1.4rem;
	font-weight: normal;
	margin: 20px;
}

li {
	display: inline-block;
}

.underline {
	border-bottom: 3px solid var(--main-color);
}
