.main__heading {
	margin: 80px 0 40px 0;
	text-align: center;
	font-family: var(--ff-header);
	color: black;
	font-size: 2.5rem;
	font-weight: normal;
}

.introduction__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 60%;
	margin: 0 auto 0 auto;
}

.introduction__img {
	margin: auto auto;
}

.profile__img {
	width: 350px;
	height: 350px;
	border-radius: 100%;
	margin-bottom: 30px;
}

.main__text {
	padding: 10px;
	text-align: center;
	font-size: 22px;
	font-family: var(--ff-text);
	color: black;
	font-weight: bold;
}

.review__container {
	width: 70%;
	margin: 100px auto 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.wine__review--container {
	height: 400px;
	min-width: 300px;
	background-image: url(/img/winereview2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
}

.food__review--container {
	height: 400px;
	min-width: 300px;
	background-image: url(/img/foodreview.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
}

.restaurant__review--container {
	height: 400px;
	min-width: 300px;
	background-image: url(/img/restaurantreview.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
}

.review__textfield {
	color: white;
	text-align: center;
	width: 70%;
	margin: 330px auto 0 auto;
	line-height: 1.1;
}

.review__textfield h3 {
	font-size: var(--fz-subheading);
	font-family: var(--ff-subhead);
	font-weight: bold;
	letter-spacing: 1px;
}

.review__textfield p {
	font-size: 1.5rem;
	font-weight: lighter;
}

.blog__review--container {
	height: 450px;
	width: 60%;
	margin: 100px auto 0 auto;
	display: flex;
}

.blog__review--img {
	width: 60%;
}

.blog__img {
	height: 100%;
	width: 100%;
}

.blog__review--textfield {
	width: 40%;
	background-color: #f6f2f2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--main-color);
}

.blog__review--text {
	text-align: center;
	width: 100%;
	margin-top: 90px;
}

.blog__review--text h4 {
	font-size: var(--fz-subheading);
	font-family: var(--ff-header);
	font-weight: normal;
}

.blog__review--text p {
	font-size: var(--ff-text);
	font-family: var(--ff-text);
	font-weight: bold;
	font-size: 1.3rem;
}

.review__btn {
	width: 300px;
	height: 60px;
	margin: 40px auto;
	background-color: #4d1325;
	font-size: 1.2rem;
	border-radius: 5px;
	border: none;
	color: white;
}

.review__btn a {
	color: white;
	text-decoration: none;
}

.review__bold {
	font-weight: bolder;
	font-size: 1.3rem;
}

.carosuel__container {
	width: 80%;
	height: 400px;
	margin: 40px auto 100px auto;
}

.carosuel__container h5 {
	font-size: var(--fz-subheading);
	font-family: var(--ff-header);
	font-weight: normal;
	text-align: center;
	color: var(--main-color);
}

.slider {
	width: 50%;
	margin: 100px auto;
}

.slick-slide {
	margin: 0px 20px;
}

.slick-slide img {
	width: 300px;
}

.slick-prev:before,
.slick-next:before {
	color: green;
}

.slick-prev {
	left: -100px;
	top: 50px;
}

.slick-next {
	right: -100px;
	top: 50px;
}

.slick-slide {
	transition: all ease-in-out 0.3s;
	opacity: 0.2;
}

.slick-active {
	opacity: 0.5;
}

.slick-current {
	opacity: 1;
}

.slick-dots {
	bottom: -50px;
}

.content h2 {
	color: var(--main-color);
	text-align: center;
}
