.carosuel__container {
	width: 80%;
	height: 500px;
	margin: 40px auto 100px auto;
}

.carosuel__container h5 {
	font-size: var(--fz-subheading);
	font-family: var(--ff-header);
	font-weight: normal;
	text-align: center;
	color: var(--main-color);
}

.slider {
	width: 80%;
	margin: 100px auto;
}

.slick-slide {
	margin: 0px 20px;
}

.slick-slide img {
	width: 80%;
	margin: auto auto;
	border-radius: 5px;
}

.slick-prev:before,
.slick-next:before {
	color: var(--main-color);
}

.slick-prev {
	left: -20px;
	top: 70px;
}

.slick-next {
	right: -20px;
	top: 70px;
}

.slick-dots {
	bottom: -100px;
}

.content h2 {
	color: var(--main-color);
	text-align: center;
	margin-top: 10px;
}

@media (max-width: 1200px) {
}

@media (max-width: 991px) {
	.slick-prev {
		left: -20px;
		top: 120px;
	}

	.slick-next {
		right: -20px;
		top: 120px;
	}
}

@media (max-width: 767px) {
	.slick-slide img {
		width: 80%;
		margin: auto auto;
	}

	.carosuel__container {
		margin: 40px auto 150px auto;
	}
}
