:root {
	--main-color: #730202;
	--bg-color: #fefefe;
	--btn-color: #ff6868;
	--ff-logo: 'Rancho', Verdana;
	--ff-header: 'Proza Libre', sans-serif;
	--ff-subhead: 'Poppins', sans-serif;
	--ff-text: 'Raleway', sans-serif;
	--fz-text: 1.125rem;
	--fz-heading: ;
	--fz-subheading: 1.875rem;
}
